.idea/
.vscode/
*.pyc

results/
resources/ae*
resources/checkpoint
resuls/
*.simg
*.sif
.wscript*
workspace/
singularity/tmp.def
analysis/report.md

compile_commands*.json

cmake-build-debug/
cmake-build-release/

.DS_Store
CMakeLists.txt.user
build/
include/
libtorch/
venv/

*.png
*.html
*.gif

.clangd/

*.pkl
*.csv
*.pdf
*.dat
*.log
